/*@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Bangers', cursive;*/
}

.blog {
    border-radius: 6px;
    border: 1px solid deepskyblue;
    margin: 6px;
    padding: 6px;
}

.comment {
    border-radius: 6px;
    border: 1px solid deepskyblue;
    margin: 6px;
    padding: 6px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.button {
    background: deepskyblue;
    color: white;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}
