<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>

    <h2 th:text="${blog.title}"></h2>

    <a class="button" href="/blogs">Back to blogs</a>
    <br>

    <p>
        <span><b>By: </b></span>
        <span th:text="${blog.author}"></span>
    </p>

    <p th:text="${blog.body}"></p>

    <p><b>Comments:</b></p>
    <br>

    <button id="add-comment-btn" class="button">Add Comment</button>

    <div class="hidden add-comment-area">
        <textarea name="comment-body" id="comment-body" cols="30" rows="10" placeholder="Add comment"></textarea>
        <button id="save-comment-btn" class="button">Save</button>
    </div>

    <div class="comments-root"></div>


    <script th:src="@{/scripts/blog.js}"></script>

<!--    <script th:inline="javascript">-->
<!--        var nameJs = /*[[${name}]]*/;-->
<!--    </script>-->

</body>

</html>